---
import Layout from "../layouts/Layout.astro";

const pageTitle = "All about that Ohm";
---

<Layout title={pageTitle}>
    <main class="flex flex-col gap-4">
        <h1 class="text-4xl font-extrabold">
            {pageTitle}
        </h1>
        <p class="max-w-prose">
            Gloriohm was founded 2023-03-23 @ 23:23h. UTC, in a garage at an
            undisclosed location. Since then forces have stirred restlessly to
            ensure the return of the weird herring.<br class="mb-2" />
             This page was put up to keep us busy while we wait.<br
                class="mb-2"
            />
             Furthermore, it was put up to channel the forces of Eris and Eros;
            those two holiest of divinities that begat our glorious company.<br
                class="mb-8"
            />
             And don't doubt for a second: <span class="font-bold"
                >the Eschaton will be immanentized.</span
            >
        </p>
    </main>
</Layout>
