---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Notes on Drainage";
---

<Layout title={pageTitle}>
    <main class="text-slate-200 m-10">
        <h1 class="text-4xl text-center">
            Notes on <span class="text-purple-700">Drainage</span>
        </h1>
        <p class="text-center p-8">Give me the blood, Eli.</p>
        <ul role="list" class="grid grid-cols-2 gap-8">
            <ul>
                <li><a href="/posts/post-1/">Post 1</a></li>
                <li><a href="/posts/post-2/">Post 2</a></li>
                <li><a href="/posts/post-3/">Post 3</a></li>
            </ul>
        </ul>
    </main>
</Layout>
