---
import Layout from "../layouts/Layout.astro";
import CardLayout from "../components/CardLayout.astro";
import {formatBlogPosts} from "../scripts/utils.js"
const allPosts = await Astro.glob("../pages/posts/*.md");
const recentPosts = formatBlogPosts(allPosts, {limit: 2,})
const pageTitle = "Gloriohm Industries";
---

<Layout title={pageTitle}>
	<main class="">
		<h1 class="text-4xl font-extrabold mb-4">
			Gloriohm Industries
		</h1>
		<section class="mb-8">
			<h2 class="text-2xl text-zinc-300 font-bold mb-4 bg-rose-600 -skew-x-12">
				<span class="mx-4">Gloriohm is in the business of production.</span>
			</h2>
			<p clas="prose">
				People keep asking us about the product -- <i>the</i> Product -- as if it was possible to separate from the producer. <i>Gloriohm</i> is the capital-P Product.
			We like to measure our product in effects rather than the concrete: neglection of ephemeral experiences
			and the invisible code that conditions them is one of our time's greatest blindspots.<br class="mb-2"/>
				Gloriohm specializes in symbolic irrigation, which essentially means the circulation of semantically charged artefacts throughout the mediasphere.
				Please contact us for a quote if you're in any way interested in the exchange of services.
		</p>
		</section>
		<section>
			<h2 class="text-2xl text-zinc-300 font-bold mb-4 bg-rose-700 -skew-x-12">
				<span class="mx-4">Latest content:</span>
			</h2>
			<CardLayout posts={recentPosts} />
		</section>
	</main>
</Layout>
