---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<Layout title="Gloriohm Industries">
	<main class="">
		<h1 class="font-sans text-4xl font-extrabold mb-4">
			Gloriohm Industries
		</h1>
		<ul role="list" class="grid max-sm:grid-cols-1 grid-cols-2 gap-8">
			{
				allPosts.map((post) => (
					<Card
						url={post.url}
						title={post.frontmatter.title}
						description={post.frontmatter.description}
					/>
				))
			}
		</ul>
	</main>
</Layout>
