---
import { imageConfig } from "astro:assets";
interface Props {
	title: string;
	description: string;
	url: string;
}

const { url, title, description } = Astro.props;
---

<li
	class="bg-zinc-900 hover:bg-blue-600 text-zinc-100 p-4 rounded-md min-h-[250px]"
>
	<a href={url}>
		<h2 class="text-xl font-bold mb-4">
			{title}
		</h2>
		<p class="text-zinc-300">{description}</p>
	</a>
</li>
