---
const socials = [
    {
        //image: faEnvelope,
        name: "email",
        href: "mailto:gruud@tutanota.com",
    },
    {
        //image: faGithub,
        name: "github",
        href: "https://github.com/mangum0pus",
    },
    {
        //image: faLinkedin,
        name: "linkedin",
        href: "https://www.linkedin.com/in/garu/",
    },
    {
        //image: faSoundcloud,
        name: "soundcloud",
        href: "https://soundcloud.com/gloriohm",
    },
    {
        name: "letterboxd",
        href: "https://letterboxd.com/mangum",
    },
];
---

<footer class="text-sm">
    <ul class="flex gap-2 justify-center">
        {
            socials.map(({ name, href }) => (
                <li class="hover:text-blue-600">
                    <a href={href}>{name}</a>
                </li>
            ))
        }
    </ul>
</footer>
