---
const {links} = Astro.props;
---

<details class="hamburger cursor-pointer sm:hidden">
    <summary class="flex flex-col">
        <span class="block w-7 h-1 mb-1 bg-zinc-900"></span>
        <span class="block w-7 h-1 mb-1 bg-zinc-900"></span>
        <span class="block w-7 h-1 mb-1 bg-zinc-900"></span>
    </summary>
    <ul class='flex gap-1 flex-col ml-1'>
        {
            links.map(({ url, name }) => (
                <li class="hover:bg-blue-600 bg-zinc-900 text-zinc-100 px-2 py-1 rounded font-semibold max-w-[80px] text-center">
                    <a href={url}>{name}</a>
                </li>
            ))
        }
    </ul>
</details>
