---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
    <nav class="p-4 m-auto max-w-3xl">
        <Hamburger />
        <Navigation />
    </nav>
</header>
