---
const {links} = Astro.props;
---

<ul class='flex gap-2 max-sm:hidden max-sm:flex-col'>
    {
        links.map(({ url, name }) => (
            <li class="hover:bg-blue-600 bg-zinc-900 text-zinc-100 px-2 py-1 rounded font-semibold max-sm:max-w-[80px] max-sm:text-center max-sm:mb-0.5">
                <a href={url}>{name}</a>
            </li>
        ))
    }
</ul>