---
const links = [
    { url: "/", name: "Home" },
    { url: "/about", name: "About" },
    //{ url: "/tags", name: "Tags" },
];
---

<ul class=`nav-links flex gap-2 max-sm:hidden max-sm:flex-col`>
    {
        links.map(({ url, name }) => (
            <li class="hover:bg-blue-600 bg-zinc-900 text-zinc-100 px-2 py-1 rounded font-semibold max-sm:max-w-[60px]">
                <a href={url}>{name}</a>
            </li>
        ))
    }
</ul>
<style>
    .expanded {
        display: unset;
    }
</style>
