---
const links = [
    { address: "/", name: "Home" },
    { address: "/about", name: "About" },
    { address: "/blog", name: "Blog" },
];
---

<ul class=`nav-links flex gap-2 text-slate-200 max-sm:hidden max-md:flex-col`>
    {
        links.map(({ address, name }) => (
            <li class="hover:bg-violet-400 px-2 py-1 rounded-md">
                <a href={address}>{name}</a>
            </li>
        ))
    }
</ul>
<style>
    .expanded {
        display: unset;
    }
</style>
